.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-1 {
	flex: 1;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

.gap-4 {
	gap: 1rem;
}

.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.m-auto {
	margin: auto;
}

.font-serif {
	font-family: 'Domine', serif;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
