@import 'core/reset.css';
@import 'elements/utils.css';
@import 'elements/site-logo.css';
@import 'elements/home.css';

:root {
	--brand-gray: #DDDDDD;
	--brand-border: 1px solid var(--brand-gray);
}

body {
	font-family: 'Lato', sans-serif;
}
